.main{
   background-color:rgb(250, 228, 104);
   width:500px;
   border-radius:20px;
    text-align:center;

}
img{
    width:400px;
    height:250px;
    border:10px solid white;
   
}


.seco{
    float:right
}
.sec{display:inline;
    float:left
}